* {
  font-family: 'Roboto', sans-serif;

}

#movies img, #movie img {
  width: 100%;
}


@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;



  }
}
#movie > div:nth-child(1){
  display: flex;
}



body > div.slider {
display: flex;
align-items: center;
margin: 0 auto;
width: 79.5%;
padding-bottom: 20px;
height:
max-height auto;



}


height: auto;
   width: auto;
   max-width: 300px;
   max-height: 300px;
