* {
  font-family: 'Roboto', sans-serif;

}

#movies img, #movie img {
  width: 100%;
}


@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;



  }
}
#movie > div:nth-child(1){
  display: flex;
}



body > div.slider {
display: flex;
align-items: center;
margin: 0 auto;
width: 79.5%;
padding-bottom: 20px;
height:
max-height auto;

}

body > nav > div > div.collapse.navbar-collapse > p > a {
  color: white;
}

                /*login page*/

body > nav > div > div.collapse.navbar-collapse > ul > li:nth-child(2) > a {
  color: #fff
}

body > div {
display: block;
text-align: center;
}

#new_user > div.actions > input[type="submit"] {
  margin-bottom: 20px;
}

#new_user > div:nth-child(5) > label {
  padding: 0;
  margin: 0;
}

#user_remember_me {
display: flex;
align-items: flex-end;
margin: 0 auto;
}
body > div > a:nth-child(3) {
  color: white;
}



body > div > a:nth-child(5){
  color: white;
}
#new_user > div.actions > input[type="submit"] {
  color: black;
}
